@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16px;
}

.markdown p img {
  float: left;
}

.markdown p img {
  float: left;
  padding-right: 1rem;
}

.markdown p {
  clear: left;
}
